<% provide(:title, "Home") %>
<h1>This is our directory's home page!<h1>
<<<<<<< HEAD

    <% @categories.each do |category| %>

    <%= link_to "#{ category[0] } Resources", resources_path(:category => category[1]) %>
    <br />

    <% end %>

  <!--  <%= link_to "Create a New Resource", new_resource_path %> -->
=======
<h2>Welcome!</h2>
   <%= link_to "Resources", resources_path %>
>>>>>>> ed1f0adadd33f6e2f6013d28a21f240abc416eee
