<h1>Resources Index</h1>

    <p>Resource Category</p>
    <!--Make this dynamic!-->

<% @resources.each do |resource| %>
<%= resource.name %>
<%= resource.email %>
<%= resource.category %>
<br />

<% end %>
