<% provide(:title, @category_name) %>

<h1><%= @category_name %> Resources Index</h1>

<br />
<% @resources.each do |resource| %>
<%= link_to resource.name, resource %>
<%= resource.email %>
<br />

<% end %>

<br />

<%= link_to "Create a New #{ @category_name } Resource", new_resource_path(:category => @category_id) %>


